.header-v2-tabs {
  height: 100%;
  flex: 1;
  justify-content: center;
  width: 300px;

  @media screen and (max-width: 1024px) {
    margin-left: 20px;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    margin: 0;
    height: 48px;
  }

  .elmo-radio {
    margin-bottom: 0;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;

    &--checked:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: #19579f;
    }

    &__element {
      display: none;
    }
  }
}
