.course-catalogue-cards-wrapper,
.my-learning-cards-wrapper {
  .elmo-card {
    padding-left: 0;
    padding-right: 0;

    &:hover {
      .elmo-card__header-buttons {
        opacity: 1;
      }
    }

    &__header-buttons {
      position: absolute;
      top: 10px;
      right: 5px;
      opacity: 0;

      button {
        margin-right: 5px;
      }
    }

    &__header-image {
      height: auto;
      padding-top: 56.25%;
      margin-bottom: 0;
      min-width: 100%;
      margin-left: 0;
      margin-right: 0;

      &-bg,
      &-img,
      &-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
      &-bg {
        filter: blur(10px);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
        background-size: cover;
      }
      &-overlay {
        background-color: rgba(255, 255, 255, 0.2);
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
      &-img {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
    &__header {
      position: relative;
      margin-left: 0px;
      margin-right: 0px;
      padding: 8px 12px 0 12px;
      top: 0;
    }
    &__heading {
      word-wrap: break-word;
    }
    &__content {
      margin-left: 0px;
      margin-right: 0px;
    }
    .px-custom {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}
