.header-v2 {
  .elmo-search {
    width: 100%;
    max-width: 250px;
    margin-left: auto;

    &__wrapper {
      padding: 0;
    }

    .elmo-search__input > .elmo-input {
      padding-right: 0;

      &:not([value='']) {
        padding-right: 96px;
      }
    }

    @media screen and (max-width: 599.9px) {
      float: none;
      position: absolute;
      max-width: none;
      padding: 0 16px;
      top: 0;
      left: 0;
      right: 0;
      margin-bottom: 0;

      &--open {
        transform: translateY(0);
      }
    }
  }
}
