.users-select {
  max-width: 500px;
}

#SummaryListTable .elmo-listtable__col {
  display: flex;
  justify-content: center;
}

.header-v2.with-tabs {
  flex-wrap: wrap;
  h3 {
    width: 100%;
    margin-top: 10px;
  }
  .header-v2-tabs {
    justify-content: start;
    margin-left: 0;
    left: -15px;
    position: relative;

    .elmo-radio--checked:after {
      bottom: -9px;
    }
  }
}
