#MyLearningSort .elmo-btn {
  display: flex;
}

// Temporary css fixes that need to be fixed on the component library.
.elmo-input__wrapper .elmo-input {
  min-width: 0;
}

.elmo-listtable__actions-icon {
  // min-width: 48px;

  > .elmo-btn {
    margin: 0 -12px;
  }
}

.view-course-info {
  tbody {
    tr {
      td {
        padding-left: 0;
        padding-right: 0;

        &:last-child {
          text-align: right;
          padding-left: 12px;
        }
      }

      &.elmo-nativetable-tr {
        &:first-child {
          border-top: 0;
        }
      }
    }
  }
}

_:-ms-fullscreen,
:root .elmo-modal.elmo-modal--dialog .elmo-modal__content {
  height: auto;
}

.elmo-input[readonly] {
  background-color: #f6f6f6;
  -webkit-text-fill-color: unset;
  -webkit-opacity: 1;
}

.elmo-datepicker__input-wrapper {
  .elmo-input[disabled] {
    background-color: #f6f6f6;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.45);
    -webkit-opacity: 1;
    -webkit-transition: none;
  }
  .elmo-input {
    -webkit-transition: none;
  }
}

.elmo-select.is-searching {
  .react-select__menu-notice--no-options {
    color: transparent;
    position: relative;
  }
  .react-select__menu-notice--no-options:after {
    content: 'Searching..';
    color: #868686;
    position: absolute;
    width: 100%;
    left: 0;
  }
}

#StickyAlert.elmo-sticky--sticked {
}

#form-item-attachments {
  .elmo-formitem__control__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 599.9px) {
  .my-learning-cards-wrapper {
    .elmo-card {
      .card-bottom-placeholder {
        height: 48px;
      }
    }
  }
}

.my-learning-cards-wrapper,
.course-catalogue-cards-wrapper {
  .elmo-card {
    height: 100%;
  }
}

.course-catalogue-cards-wrapper,
#CourseCatalogueListTable {
  .elmo-button__disabled-wrapper button[disabled] {
    position: relative;
    z-index: -1;
  }
}

.elmo-listtable {
  &:not(#MyLearningListTable):not(#FaceToFaceSessionsListTable):not(#CourseCatalogueListTable):not(#ExternalTrainingTemplateSelectorListTable):not(#EnrolmentRequestsListTable) {
    .elmo-listtable__header .elmo-col,
    .elmo-listtable__cols .elmo-listtable__col {
      @media screen and (min-width: 1024px) {
        &:first-child {
          flex-grow: 1;
          max-width: 30%;
        }
        &:not(:first-child) {
          flex: 0 0 17%;
          max-width: 17%;
        }
      }
    }
  }
}

.elmo-listtable {
  &:not(#ExternalTrainingTemplateSelectorListTable):not(#EnrolmentRequestsListTable):not(#CourseCatalogueListTable):not(#FaceToFaceSessionsListTable) {
    .elmo-listtable__header .elmo-col,
    .elmo-listtable__cols .elmo-listtable__col {
      @media screen and (min-width: 1880px) {
        &:first-child {
          flex-grow: 1;
          max-width: 100%;
        }
        &:not(:first-child) {
          flex: 0 0 12.5%;
          max-width: 12.5%;
        }
      }
    }
  }
}

.elmo-nav-menu--placeholder {
  height: 100vh;
}

.elmo-button__disabled-wrapper {
  position: relative;
  z-index: 0;
  &:before {
    content: '';
    display: block;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
  }
}

#CourseCatalogueListTable,
#MyLearningListTable {
  &.elmo-listtable {
    @media screen and (max-width: 599.9px) {
      .elmo-listtable__thumbnail {
        background-position: 0% 50%;
        margin-bottom: 16px;
      }
      .elmo-listtable__row-wrapper {
        flex-direction: column;
      }
      .elmo-listtable__row-actions {
        margin: 0;
      }
    }
    .elmo-listtable__thumbnail {
      background-size: contain;
      width: 128px;
    }
    &.elmo-listtable--avatar-type--thumbnail {
      .elmo-listtable__header-wrapper .elmo-listtable__cols {
        margin-left: 152px;
      }
      .elmo-listtable__header-wrapper
        .elmo-listtable__header
        .elmo-col:first-child {
        transform: translateX(-152px);
      }
    }
  }
}

#MyLearningListTable {
  .my-listtable-action-placeholder {
    @media screen and (max-width: 599.9px) {
      display: none;
    }
  }
}

.text-break {
  word-wrap: break-word;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-end {
  justify-content: flex-end;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-align-baseline {
  align-items: baseline;
}

.add-external-training-v2 {
  margin-left: 20px;
  margin-right: 0;
}

.external-training-header .header-v2 {
  @media screen and (max-width: 599.9px) {
    .elmo-search.elmo-search--open {
      max-width: calc(100% - 66px);
      top: 50%;
      transform: translate(0, -50%);
      padding-right: 0;
      margin-left: 0;
    }

    &:not(.elmo-search--open) {
      margin-left: auto;
    }
  }
}

.my-learning-cards-wrapper,
.course-catalogue-cards-wrapper {
  .elmo-card__header-badges {
    .elmo-badge {
      font-size: 13.5px;
      background-color: rgba(0, 0, 0, 0.85);

      .elmo-badge__label {
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }
}

.face-to-face-toaster,
.course-preview-toaster {
  .elmo-notification {
    z-index: 1001;
  }
}

.filter-mobile .elmo-filter {
  .elmo-filter__modal-button {
    border-radius: 8px;
    margin-right: 6px;
  }

  .elmo-filter__buttons .elmo-radio {
    &.elmo-radio--checked {
      .elmo-radio__label {
        font-weight: 500;
      }
    }

    &__label {
      justify-content: center;
    }

    &:focus:not(.elmo-radio--disabled) {
      border: 2px solid transparent;
      background-color: #e6f1ff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.07),
        0px 1px 2px rgba(0, 0, 0, 0.14);
    }

    &:first-child {
      border-radius: 8px 0px 0px 8px;
      margin-right: 0;
    }

    &:last-child {
      border-radius: 0px 8px 8px 0px;
    }
  }
}

.sort-mobile {
  .elmo-dropdown__button {
    border-radius: 8px;
  }
}
